blinker
click
colorama
contourpy
cycler
et_xmlfile
Flask
gunicorn
fonttools
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
openpyxl
packaging
pandas
pillow
pyparsing
python-dateutil
six
tzdata
Werkzeug
